* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

html, body {
  height: 100%;
}

section.landing-page {
  width: 100%;
  min-height: 100vh;
  background-image: url("/images/background-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.landing-page header {
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.landing-page header h1 {
  font-size: 30px;
  color: #fff;
}

section.landing-page header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.landing-page header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-right: 50px;
}

section.landing-page header nav ul li {
  margin-left: 20px;
}

section.landing-page header nav ul li a {
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}

section.landing-page header nav a.btn {
  width: 190px;
  height: 51px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background: #a8a6a1;
  border: 1px solid #a8a6a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s;
  transition: .2s;
}

section.landing-page header nav a.btn:hover {
  opacity: .8;
}

section.landing-page main {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0  0 64px 10px;
}

section.landing-page main h1 {
  font-size: 65px;
  font-weight: normal;
  color: #fff;
  padding-top: 300px;
}

section.landing-page main p {
  font-size: 24px;
  font-weight: normal;
  color: #fff;
  line-height: 35px;
  padding: 30px 0 40px 0;
}

section.landing-page main a {
  font-size: 24px;
  color: gray;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 2px solid gray;
}

section.next-classes {
  width: 100%;
  min-height: calc(100vh + 100px);
  background: #38383b;
  padding-bottom: 60px;
}

section.next-classes h1 {
  font-size: 45px;
  padding: 60px 0 0 50px;
  color: #fff;
}

section.next-classes main {
  max-width: 1250px;
  margin: 30px auto;
}

section.next-classes main div.container-images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35px;
  padding: 0 10px 0 10px;
}

section.next-classes main div.container-images div.primary-image {
  width: 50%;
  height: 400px;
  font-size: 30px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-image: url("/images/background-aula-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.next-classes main div.container-images div.secondary-image {
  width: 50%;
  height: 400px;
  font-size: 30px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-image: url("/images/background-aula-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.next-classes main div.description {
  padding-left: 10px;
}

section.next-classes main div.description p {
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  padding: 40px 0 60px 0;
}

section.next-classes main div.description a {
  text-decoration: none;
  color: #fff;
  padding: 20px;
  background: #a8a6a1;
  border: 1px solid #a8a6a1;
  -webkit-transition: .2s;
  transition: .2s;
}

section.next-classes main div.description a:hover {
  opacity: .8;
}

div.content-info {
  max-width: 100%;
  height: 300px;
  background: #434347;
  color: #fff;
}

div.content-info div.container-info {
  max-width: 1250px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.content-info div.container-info p {
  font-size: 35px;
  line-height: 40px;
}

div.content-info div.container-info div.info-group p {
  font-size: 18px;
  line-height: normal;
  padding-bottom: 50px;
}

div.content-info div.container-info div.info-group a {
  font-size: 17px;
  font-weight: bold;
  color: gray;
  background: #fff;
  text-decoration: none;
  padding: 20px 40px 20px 40px;
  -webkit-transition: .2s;
  transition: .2s;
}

div.content-info div.container-info div.info-group a:hover {
  opacity: .8;
}

section.contact {
  width: 100%;
  height: 500px;
  color: #fff;
  text-align: center;
  background-image: url("/images/background-contact.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-attachment: fixed;
}

section.contact h1 {
  font-size: 30px;
  font-weight: normal;
  padding-bottom: 20px;
}

section.contact p {
  padding-bottom: 30px;
}

section.contact input {
  width: 270px;
  height: 70px;
  padding-left: 20px;
  font-size: 19px;
}

section.contact button {
  width: 160px;
  height: 70px;
  font-size: 17px;
  color: #fff;
  background: #a8a6a1;
  border: #a8a6a1;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

section.contact button:hover {
  opacity: .8;
}

footer {
  width: 100%;
  height: 220px;
  background: #f5f5f5;
}

footer div.container-footer {
  max-width: 1250px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer div.container-footer div.one h1 {
  font-size: 29px;
  font-weight: normal;
  padding-bottom: 30px;
}

footer div.container-footer div.one p a {
  text-decoration: none;
  color: gray;
  padding-bottom: 1px;
  border-bottom: 1px solid gray;
}

footer div.container-footer div.location p {
  line-height: 25px;
}

footer div.container-footer nav ul {
  list-style-type: none;
}

footer div.container-footer nav ul li {
  padding-bottom: 10px;
}

footer div.container-footer nav ul li a {
  font-size: 17px;
  text-decoration: none;
  color: gray;
  padding-bottom: 1px;
  border-bottom: 1px solid gray;
}

footer div.container-footer div a {
  margin-left: 15px;
}

footer div.container-footer div a img {
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=main.css.map */